$font-color: black;

.active {
    opacity: 0.1;
}
.transition {
    transition: .7s;
}
.carousel {
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    border: 3px solid black; 
    padding: 0px;
    overflow: hidden;
}
.title-caption-container {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: $font-color;
    z-index: 3
}
.title, .caption {
    margin: 0;
}

.slider {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 500%;
    transform: translateX(-20%); 
 
}
.slide {
    border: 3px solid green;
    width: 100%;
    .slide-img {
        margin: 0;
        max-width: 100%;
        max-height: 300px;
    }
   
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-dots {
    max-width: 500px;
    width: 100%;
    .dots-container {
        margin-top: 1%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@-webkit-keyframes slide {
    100% { transform: translate(-20.5%)}
}
