$font-color: black;

.active {
    opacity: 0.1;
}
.transition {
    transition: .7s;
}
.carousel {
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    border: 3px solid black; 
    padding: 0px;
    overflow: hidden;
}
.title-caption-container {
    padding-top: 1%;
    width: 75%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: $font-color;
    z-index: 3
}
.title, .caption {
    margin: 0;
   font-size: 0.8em;
}

.slider {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 500%;
    transform: translateX(-20%); 
    z-index: 5;
    height: 90%
}
.slide {
    border: 3px solid green;
    width: 100%;
    .slide-img {
        margin: 0;
        width: 100%;
        height: 100%;
    }
   
}

.controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 90%;
    padding: 1%;
    margin: 0 5%;
}

.image-dots {
    width: 100%;
    .dots-container {
        margin-top: 1%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@-webkit-keyframes slide {
    100% { transform: translate(-20.5%)}
}

@media only screen and (max-width: 294) {
    .carousel {
        max-width: 400px;
    }
}


//iphone 5/5S
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .carousel {
        width: 75%;
    }
}
//iPhone 6/7/8 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .carousel {
        width: 75%;
    }
}
//iphone X

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .title, .caption {
        margin: 0;
       font-size: 0.7em;
    }
    .carousel {
        width: 75%;
    }
  }

// iPad Media Query 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .title, .caption {
        margin: 0;
       font-size: 1.2em;
    }
}



// iPad  Pro Media Query
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .title, .caption {
     margin: 0;
    font-size: 1.5em;
    }
}

